.footer__copyright {
font-family: Inter;
font-style: normal;
font-weight: normal;
font-size: 14px;
line-height: 16px;
color: #FFFFFF;
align-self: flex-start;
}

@media (max-width: 767px) {
    .footer__copyright {
        font-size: 14px;
        line-height: 14px;
        flex-direction: column;   
       
    }
}