.cover {
  margin: 92px auto 0;
  position: relative;
  max-width: 1184px;
  display: flex;
  text-align: center;
  }
  

@media  (max-width: 1280px) {
  .cover {
    max-width: 1024px;
  }
}

@media  (max-width: 1024px) {
  .cover {
    max-width: 768px;
  }
}

@media  (max-width: 768px) {
  .cover {
    max-width: 320px;
  }
}