.cover__overlay {
    display: flex;
    width: 1184px;
    height: 740px;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    flex-direction: column;
    text-decoration: none;
    background-color: a2c2f;
    background-image: url(../../../images/cover-trains.jpg);
    margin: 0 auto;
}



.cover__overlay:hover {
    background-color: a2c2f;
    opacity: 0.8;
}