.cover__overlay {
    display: flex;
    width: 1184px;
    height: 740px;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    flex-direction: column;
    text-decoration: none;
    background-color: rgba(42, 44, 47, 1);
    background-image: url(../../../images/cover-trains.jpg);
    margin: 0 auto;
    justify-content: center;
    cursor: pointer;
}

.cover__overlay::before {
    display: flex;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    background-color: rgba(42, 44, 47, 1);
}

.cover__overlay:hover {
    opacity: 0.8;
}