.lead__caption {
    /*align-self: flex-start;*/
    font-size: 10px;
    line-height: 14px;
    font-weight: normal;
    font-family: Inter, Arial, sans-serif;
    text-transform: uppercase;
    margin: 8px 0 0;
    color: #ffff;
}