.place__website {
  max-width: 456px;
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
  text-decoration: none;
}

@media (max-width: 1024px) {
  .place__website {
    width: 352px;
    max-width: 352px;
  }
}

/*@media (max-width: 768px) {
  .place__website {
    display: none;
  }
}*/